body {
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  color:#555;
   text-shadow: 1px 1px rgba(255,255,255,0.3);
}

.btn {
  font-weight: bold;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.dark-dropdown {
  background-color: #303030;
    color: #eaeaea;
}

#login-form input {
  background-color: #202020;
  color: #eaeaea;
  border: none;
}

.edit-text-button {
  all: unset;
  padding: 0 7px;
  background: none;
}

.edit-text-button:hover {
  background: #dedede
}

#splash-bottom {
  background-color: #303030;
}

.splash-text {
  color:#eee;
}

#search-button {
    position: relative;
    z-index: 1;
    left: -35px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

#nav-dropdown {
  position: absolute;
  top: 65px;
  right: 5px;
}

.sidebar {
  height: 100%;
  right: 0;
  position: fixed;
}

.navbar-custom {
  background-color: #FFFFFFdd;
}

.navbar-brand {
font-family: 'Bree Serif', serif;
      font-size: 1.75rem;
}

#main {
  padding-top: 70px;
}

.scroll-top-btn {
  all:unset;
   position: fixed; /* Fixed/sticky position */
   bottom: 20px; /* Place the button at the bottom of the page */
   left: 30px; /* Place the button 30px from the right */
   z-index: 99; /* Make sure it does not overlap */
}

.lds-ring {
  display: inline-block;
  position: relative;
  padding-top:25vh;
  width: 250px;
  height: 250px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 6px;
  border: 6px solid #aaa;
  border-radius: 50%;
  animation: lds-ring 1.75s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #aaa transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#dash-head-toggle:hover {
  text-decoration: none;
}
